services:
  flask-app:
    build: .
    image: piperoldan/myapp:optimized
    restart: always
    ports:
      - "4000:4000"  # CHANGED: This was 8080:4000
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@db/${DB_NAME}
      - FLASK_ENV=development
    depends_on:
      - db
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8081:8080"

volumes:
  db_data:
